<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <a href="../" class="navbar-brand">JSONPlaceholder</a>
    <button
      #btn
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/users"
            routerLinkActive="active"
            (click)="btn.click()"
            >Users</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/posts"
            routerLinkActive="active"
            (click)="btn.click()"
            >Posts</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/todos"
            routerLinkActive="active"
            (click)="btn.click()"
            >ToDos</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
