<header>
  <h1>
    JSONPlaceholder
  </h1>
  <p class="subtitle">
    Fake Online REST API implementation
    <br />
    Powered by
    <a href="https://jsonplaceholder.typicode.com"
      >https://jsonplaceholder.typicode.com</a
    >
    Server
  </p>
</header>
<main>
  <h2>Intro</h2>
  <p>
    JSONPlaceholder is a free online REST API that you can use whenever you need
    some fake data.
    <br />It's great for tutorials, testing new libraries, sharing code
    examples, ...
  </p>

  <h2>Resources</h2>
  <p>
    JSONPlaceholder comes with a set of 6 common resources in this app we only
    be using 3:
  </p>
  <ul>
    <li>Users</li>
    <li>Posts</li>
    <li>Todos</li>
  </ul>
  <p>
    <strong>Note</strong>: resources have relations. For example:
    <b>user</b> have many <b>posts</b> and <b>todos</b>
  </p>
  <h2>About this Application</h2>
  <p>
    This is an implementation of the JSONPlacholder server created with Angular
    framework,<br />
    which visualizes 3 pages: Users, Posts, Todos.<br />
    Each page fetch data from the fake server and display it to the user.<br />
    The user can do fake api request for: delete,update or create new item.
  </p>
</main>
